# # Ignore user-specific configuration files in ANY subdirectory
**/gradle.properties

# Ignore generated data files
**/data/mockaroo_output.json

# Ignore local build artifacts and caches for all projects
**/build/
**/.gradle/

# Ignore common IDE files
.idea/
*.iml
*.iws

# Ignore operating system files
.DS_Store
Thumbs.db